$default_value: 0;

nav {
  background: #2D2E2E;
  height: 100%;

  ul {
    list-style-type: none;
    padding: $default_value;
    margin: $default_value;

    li {

      a {
        color: #fff;
        padding: 20px;
        display: block;
      }

      .activated {
        background-color: #00a8ff;
      }
    }
  }

}
